.container1{
    color: rgb(28, 28, 176);
border: 2px;
} 
.subheading{
    color: rgb(0, 0, 0);
background-color: rgba(128, 128, 128, 0.603); 
height: 150px; 
width: 500px;
padding: 2px; 
border-radius: 2px; border: 2px; border-color: black;
margin-left: 4%; font-size: xx-large;
}

.canned {
    color: red;
    background-color: blue;
    margin-left: 4%;
    width: 200px;
    height: 200px;
    padding: 2px;
}
    .Dry {
        margin-left: 300px;
        width: 200px;
        height: 200px;
        background-color: rgb(12, 4, 245);
        padding: 2px;
        color: red;
    }
    .Refrigerator{
        color: rgb(0, 0, 0);
        background-color: rgba(128, 128, 128, 0.603); height: 150px; width: 500px;
        padding: 4px; 
        border-radius: 2px; border: 2px; border-color: black;
        margin-left: 70%; font-size: xx-large;
        border: 2px;
    }
    .pasta1 {  margin-left:-97%;
        width: 200px;
        height: 200px;
        background-color: rgb(12, 4, 245);
        padding: 2px
        
    }
    .Dairy {
        margin-left:-55%;
        width: 200px;
        height: 200px;
        background-color: rgb(12, 4, 245);
        padding: 2px;
        color: red;
    }
    .Veggies { margin-left: -60%;
        width: 200px;
        height: 200px;
        background-color: rgb(12, 4, 245);
        padding: 2px;
    }
    .Boxed {  margin-left: -585%;
        width: 200px;
        height: 200px;
        background-color: rgb(12, 4, 245);
        padding: 2px
    }
    .pantrypic2 {
        padding: 4px;
    }
    .fridgepic {
        padding: 10px;
    }

    